@import "../../styles/variables";
@import "../../styles/colors";
@import "../../styles/utils";

.rtl-routes {
  @include flex-vertical();
  flex-grow: 1;
  width: 100%;
  padding: $half-margin;
  box-sizing: border-box;
  overflow: auto;
}
