@mixin flex-layout(
  $align-items: flex-start,
  $justify-content: flex-start,
  $flex-direction: row
) {
  display: flex;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
  align-items: $align-items;
}

@mixin flex-horizontal($align-items: flex-start, $justify-content: flex-start) {
  @include flex-layout($align-items, $justify-content, row);
}

@mixin flex-vertical($align-items: flex-start, $justify-content: flex-start) {
  @include flex-layout($align-items, $justify-content, column);
}

@mixin box-shadow-1dp() {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12),
    0 1px 1px 0 rgba(0, 0, 0, 0.14);
}

@mixin box-shadow-2dp() {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 2px 2px 0 rgba(0, 0, 0, 0.14);
}

@mixin box-shadow-4dp() {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
}

@mixin box-shadow-8dp() {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 8px 10px 1px rgba(0, 0, 0, 0.14);
}

@mixin box-shadow-basic() {
  box-shadow: 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

@mixin truncate() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
