@import "../../../styles/variables";
@import "../../../styles/colors";
@import "../../../styles/utils";

.rtl-main-page {
  @include flex-vertical(center, flex-start);
  width: 100%;

  .rtl-main-page-link-list {
    list-style: none;

    li {
      display: inline-block;
      margin-right: $half-margin;

      &:last-child {
        margin-right: inherit;
      }
    }
  }
}
