@import "~skeleton-scss/scss/skeleton";
@import "../../../styles/variables";
@import "../../../styles/colors";
@import "../../../styles/utils";

.rtl-episode-detail-page {
  @include flex-vertical(flex-start, flex-start);
  width: 100%;

  .rtl-episode-detail-page-details {
    @include flex-vertical(flex-start, flex-start);
    width: 100%;

    img {
      margin: 0 0 $full-margin 0;
      width: 100%;
    }

    @media (#{$bp-larger-than-phablet}) {
      @include flex-horizontal(flex-start, flex-start);

      img {
        width: auto;
        margin: 0 $full-margin $full-margin 0;
      }
    }

    .rtl-episode-detail-page-info {
      @include flex-vertical(flex-start, flex-start);
      width: 100%;

      .rtl-episode-detail-page-info-header {
        h3 {
          margin-bottom: auto;
        }
      }

      p {
        text-align: justify;
      }

      button {
        margin-top: $full-margin;
      }
    }
  }
}
