@import "~skeleton-scss/scss/skeleton";
@import "../../../styles/variables";
@import "../../../styles/colors";
@import "../../../styles/utils";

.rtl-details-page {
  @include flex-vertical(flex-start, flex-start);
  width: 100%;

  .rtl-details-page-details {
    @include flex-vertical(flex-start, flex-start);
    width: 100%;

    img {
      margin: 0 0 $full-margin 0;
      width: 100%;
    }

    @media (#{$bp-larger-than-phablet}) {
      @include flex-horizontal(flex-start, flex-start);

      img {
        width: auto;
        margin: 0 $full-margin $full-margin 0;
      }
    }

    .rtl-details-page-details-info {
      @include flex-vertical(flex-start, flex-start);

      .rtl-details-page-details-info-header {
        h3 {
          margin-bottom: auto;
        }
      }

      p {
        text-align: justify;
      }
    }
  }

  .rtl-details-page-episodes {
    @include flex-vertical(flex-start, flex-start);
    width: 100%;

    .rtl-details-page-episodes-item {
      cursor: pointer;

      &:hover {
        background-color: $color-chrome;
      }
    }
  }
}
