@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600&display=swap");
@import "~skeleton-scss/scss/skeleton";

@import "styles/variables";
@import "styles/colors";
@import "styles/utils";

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: $color-light;
  color: $color-text;

  #root {
    @include flex-vertical();
    height: 100%;

    .error {
      background-color: $color-secondary;
      color: $color-light;
      padding: $half-margin;
      border-radius: $half-margin;
    }
  }
}
