@import "../../styles/variables";
@import "../../styles/colors";
@import "../../styles/utils";

.rtl-footer {
  @include flex-horizontal(center, center);
  width: 100%;
  box-sizing: border-box;
  padding: $half-margin;
  font-size: $small-text-size;
}
