@import "../../styles/variables";
@import "../../styles/colors";
@import "../../styles/utils";

.rtl-header {
  @include flex-horizontal(center, space-between);
  width: 100%;
  box-sizing: border-box;
  padding: $full-margin;
  background-color: $color-chrome;

  .rtl-header-logo {
    font-size: 0;

    img {
      width: 48px;
      height: 48px;
    }
  }
}
