@import "../../styles/variables";
@import "../../styles/colors";
@import "../../styles/utils";

.rtl-loading-indicator {
  @include flex-horizontal(center, center);

  span {
    margin-left: $half-margin;
  }
}
