@import "../../styles/variables";
@import "../../styles/colors";
@import "../../styles/utils";

.rtl-search-results-list-item {
  width: $image-width;
  margin: $half-margin;
  border: 1px solid $color-chrome;
  border-radius: $half-margin;
  overflow: hidden;

  .rtl-search-results-list-item-link {
    @include flex-vertical(center, center);
    text-decoration: none;

    .rtl-search-results-list-item-name {
      @include truncate();
      width: 100%;
      text-align: center;
      box-sizing: border-box;
      padding: $half-margin;
    }
  }
}
