@import "../../styles/variables";
@import "../../styles/colors";
@import "../../styles/utils";

.rtl-search-input {
  @include flex-horizontal(flex-start, center);
  margin: 0;

  .rtl-search-input-field {
    margin-right: $half-margin;
  }
}
