@import "../../styles/variables";
@import "../../styles/colors";
@import "../../styles/utils";

.rtl-search-results-list {
  .rtl-search-results-list-list {
    @include flex-horizontal(flex-start, center);
    flex-wrap: wrap;
    list-style: none;
  }
}
